.col-md-8.col-md-offset-2
	%h1 This is the admin page!!!
	%table.table.table-bordered
		%thead
			%tr
				%th Email
				%th Télécharger le cv
				%th Statut
				%th 
		%tbody
			- @users.each do |user|
				%tr
					%td= user.email
					%td= link_to 'Download', user.download_link
					%td
						.text-center
							- if user.corrected
								.span.label.label-success
									Corrigé
							- else
								.span.label.label-danger
									Non corrigé
					%td
						- if user.corrected?
							= button_to "Corriger", mark_user_path(user), :class => "btn btn-primary btn-lg btn-block", :disabled => true
						- else 
							= button_to "Corriger", mark_user_path(user), :class => "btn btn-primary btn-lg btn-block"
