.col-md-8.col-md-offset-2
	%h1 This is the admin page!!!
	%table.table.table-bordered
		%thead
			%tr
				%th Email
				%th Télécharger le cv
				%th Statut
				%th 
		%tbody
			- @users.each do |user|
				%tr
					%td= user.email
					%td= link_to 'Download', user.download_link
					%td
						.text-center
							- if user.corrected
								.span.label.label-success
									Corrigé
							- else
								.span.label.label-danger
									Non corrigé
					%td
						= button_to "Corriger", mark_user_path(user)
					


	%h3= link_to "Logout", destroy_admin_session_path, method: :delete