// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url(bg.jpg);
} 

h1 {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  font-size: 4em;
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
  font-size: 2em;
}





a {
	color: #FFFFFF;
}

